        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        
        body {
            font-family: "Rubik", sans-serif;
        }
        
        ul {
            list-style: none;
        }
        
        .col-md-2 {
            width: 14.5%;
        }
        
        .row>* {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
        
        a {
            text-decoration: none;
        }
        
        a:hover {
            color: #fff;
        }
        /*Header Slider*/
        
        .slider-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow: hidden;
        }
        
        .logo img {
            width: 5.3vw;
            margin-left: 1.3VW;
        }
        
        .panel {
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            color: #ffffff;
            cursor: pointer;
            flex: 0.5;
            margin: 0px 1px;
            transition: all 1s cubic-bezier(1, 0, 0, 1);
            position: relative;
        }
        
        .panel.active-item {
            position: relative;
        }
        
        .panel.active-item .vertical-contant {
            opacity: 0;
            visibility: hidden;
            transition: all 0.7s ease-in-out;
        }
        
        .panel:hover .vertical-contant {
            bottom: 4vw;
        }
        
        .horizontal-content {
            position: absolute;
            top: 70%;
            width: 75%;
            margin-left: 5vw;
            opacity: 0;
            visibility: hidden;
            transform: translate(0%, -30%);
        }
        
        .panel.active-item .horizontal-content {
            top: 53%;
            opacity: 1;
            visibility: visible;
            transition: all 1s cubic-bezier(1, 0, 0, 1) .3s;
        }
        
        .horizontal-content-title {
            font-size: 1.7vw;
            font-weight: bold;
        }
        
        .horizontal-content-title img {
            margin-right: 1vw;
        }
        
        .horizontal-slogan {
            font-size: 1.1vw;
            width: 80%;
            margin: 1.5vw 0vw;
        }
        
        .horizontal-descripton span {
            font-size: 1.3vw;
            margin: 1vw 0vw;
            display: inline-block;
        }
        
        .horizontal-descripton ul {
            list-style-type: "*";
            list-style-position: outside;
        }
        
        .horizontal-descripton ul li {
            padding: 0vw 10px;
            font-size: 0.8vw;
        }
        
        .vertical-contant {
            position: absolute;
            bottom: 2vw;
            left: 2vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: all 0.3s ease-in-out;
            font-size: 0.8vw;
        }
        
        .vertical-text {
            writing-mode: tb-rl;
            transform: rotate(-180deg);
            margin: 20px 0px;
            letter-spacing: 3px;
        }
        
        .vertical-contant img {
            width: 1.5vw;
        }
        
        .panel::after {
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.13);
            position: absolute;
            top: 0px;
            left: 0px;
        }
        
        .panel.active-item {
            flex: 6;
        }
        
        .navigation-wrapper {
            padding: 2vw 5.5vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 0px;
            width: 100%;
            z-index: 2342342;
            background-image: linear-gradient(180deg, rgb(255, 255, 255), transparent);
        }
        
        .top-menu ul {
            display: flex;
            flex-direction: row;
        }
        
        .top-menu ul li a {
            padding: 0.5vw 1.2vw;
            color: black;
            text-decoration: none;
            font-size: 0.8vw;
        }
        
        .bottom-menu {
            width: 59%;
            text-align: end;
            margin: 1vw 0px;
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .bottom-menu-icons a,
        i {
            margin: 1vw 0.4vw;
            color: #000;
            text-decoration: none;
            font-size: 0.7vw;
            font-weight: bold;
        }
        
        .login-button {
            text-decoration: none;
            background-image: linear-gradient(to right, #105ea8, #0c3e83);
            color: #fff;
            padding: 0.5vw 1.5vw;
            margin: 0.5vw 0.7vw;
            display: inline-block;
            font-size: 0.7vw;
        }
        
        #language {
            border: none;
            outline: none;
            color: #fff;
            background: transparent;
            font-size: 0.7vw;
        }
        
        .bottom-menubuttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        
        .select-wrapper {
            background: linear-gradient(to right, #fc9700, #f58601);
            padding: 0.3vw 0.5vw;
            height: 2.1vw;
            display: flex;
            align-items: center;
        }
        
        .active {
            font-weight: bold;
            position: relative;
        }
        
        .active::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 3px;
            width: 70%;
            background: linear-gradient(to right, #fc9700, #f58601);
        }
        
        .slider {
            width: 100%;
            height: 100vh;
            background: rgb(255, 255, 255);
        }
        
        .genel-ozellikler-item-1,
        .genel-ozellikler-item-2,
        .genel-ozellikler-item-3 {
            height: 63vh;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            padding: 0px 6vw;
        }
        
        .genel-ozellikler img {
            width: 15%;
        }
        
        .genel-ozellikler-item-1 {
            background-image: linear-gradient(135deg, #ff9701, #fcdd5b);
        }
        
        .genel-ozellikler-item-2 {
            background-image: linear-gradient(135deg, #e8eaea, #f9f9f9);
        }
        
        .genel-ozellikler-item-3 {
            background-image: linear-gradient(135deg, #043ca2, #53a5d4);
        }
        
        .genel-ozellikler-tite {
            color: #fff;
            font-size: 0.9vw;
            font-weight: bold;
            margin: 20px 0px 10px 0px;
        }
        
        .genel-ozellikler-item-2 .genel-ozellikler-tite {
            color: #6d6d6d;
        }
        
        .horizontal-line {
            width: 15%;
            height: 4px;
            background: #fff;
        }
        
        .genel-ozellikler-item-2 .horizontal-line {
            background: #6d6d6d;
        }
        
        .genel-ozellikler-content {
            font-size: 0.8vw;
            color: #fff;
            margin: 20px 0px;
        }
        
        .genel-ozellikler-item-2 .genel-ozellikler-content {
            color: #6d6d6d;
        }
        
        .genel-ozellikler-button {
            display: none;
        }
        
        .genel-ozellikler-button:hover::after {
            top: 0%;
        }
        
        .genel-ozellikler-button:hover::before {
            left: 0%;
        }
        
        .genel-ozellikler-button::after {
            content: "";
            position: absolute;
            padding: 0.7vw 2.5vw;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 0px;
            font-size: 0.9vw;
            background: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease-in-out;
        }
        
        .genel-ozellikler-button::before {
            content: "GİT  \f061";
            font-family: FontAwesome;
            position: absolute;
            padding: 0.7vw 2.5vw;
            width: 100%;
            height: 100%;
            top: 0%;
            left: -100%;
            font-size: 0.9vw;
            color: rgba(0, 0, 0, 0.589);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease-in-out;
            z-index: 2;
        }
        
        .genel-ozellikler-item-2 .genel-ozellikler-button {
            color: #6d6d6d;
            border: 1px solid #6d6d6d;
        }
        
        .ozellikler {
            width: 65%;
            margin: 8vw auto;
        }
        
        .ozellikler .row {
            display: flex;
            align-items: center;
        }
        
        .bold {
            font-weight: bold;
        }
        
        .ozellikler-title {
            background: transparent;
            background: -webkit-linear-gradient(#fd6805, #f7c279);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 2vw;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }
        
        .ozellikler-title span {
            background: transparent;
            background: -webkit-linear-gradient(#fc6700, #fc6700);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .ozellik-button {
            display: none;
        }
        
        .ozellik-button:hover::after {
            top: 0%;
        }
        
        .ozellik-button:hover::before {
            left: 0%;
        }
        
        .ozellik-button::after {
            content: "";
            position: absolute;
            padding: 0.7vw 2.5vw;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 0px;
            font-size: 0.9vw;
            background: linear-gradient(to right, #002766, #0144af);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease-in-out;
        }
        
        .ozellik-button::before {
            content: "GİT  \f054";
            font-family: FontAwesome;
            position: absolute;
            padding: 0.7vw 2.5vw;
            width: 100%;
            height: 100%;
            top: 0%;
            left: -100%;
            font-size: 0.9vw;
            background: -webkit-linear-gradient(#ffffff, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease-in-out;
            z-index: 2;
        }
        
        .ozellik-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #001a48;
            font-size: 0.8vw;
            padding: 20px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            height: 32vh;
        }
        
        .ozellik-item:hover {
            background-image: linear-gradient(to right, #fd6500, #f58b01) !important;
            color: #fff !important;
        }
        
        .img-2 {
            display: none;
        }
        
        .ozellik-item:hover .img-1 {
            display: none;
        }
        
        .ozellik-item:hover .img-2 {
            display: block;
        }
        
        .ozellik-item img {
            width: 15%;
            margin: 20px 0px;
        }
        
        .ozellik-item-grey {
            background: #f3f3f3 !important;
            box-shadow: 0px 0px 20px 0px inset rgba(0, 0, 0, 0.1);
        }
        
        .ozellik-item-title {
            font-weight: bold;
            text-align: center;
            font-size: 1vw;
            margin: 10px 0px;
        }
        
        .ozellikler-item-content {
            text-align: center;
            margin: 10px 0px;
        }
        
        .sayac-okuma {
            background-image: url(../img/resim-2.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 43vh;
        }
        
        .sayac-wrapper {
            width: 70%;
            margin: 0px auto;
            position: relative;
            top: 5vw;
        }
        
        .sayac-img img {
            width: 22vw;
        }
        /* Swipper Slider */
        
        .swiper {
            width: 90%;
            height: 27vh;
            margin: 0px auto;
            position: relative;
        }
        
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: transparent;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: flex-start;
            flex-direction: column;
        }
        
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .swiper-pagination {
            text-align: start !important;
        }
        
        .swiper-pagination-bullet {
            width: .5vw !important;
            height: .5vw !important;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            opacity: 1;
            background: #fe5f00 !important;
        }
        
        .swiper-pagination-bullet-active {
            color: #fff;
            background: #fe5f00 !important;
            position: relative;
            top: -10px;
            transition: all .3s ease-in-out;
        }
        
        .swiper-button-prev-custom {
            position: absolute !important;
            bottom: 0px !important;
            right: 70px !important;
            color: #fff;
            cursor: pointer;
            z-index: 12;
        }
        
        .swiper-button-prev-custom i,
        .swiper-button-next-custom i {
            color: #fff;
            font-size: 1vw;
        }
        
        .swiper-button-next-custom {
            position: absolute !important;
            bottom: 0px !important;
            right: 20px !important;
            color: #fff;
            cursor: pointer;
            z-index: 12;
        }
        
        .sayac-title {
            font-size: 1.3vw;
            font-weight: bold;
            background: -webkit-linear-gradient(left, #ff6003, #f29300);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .sayac-content {
            font-size: .7vw;
            color: #fff;
            text-align: start;
            margin: 1vw 0vw;
        }
        
        .zorunlu-sayac {
            height: 22vh;
            position: relative;
            top: 4vw;
            padding: 7px;
        }
        
        .zorunlu-sayac-title {
            color: #fd6805;
            font-size: .7vw;
            font-weight: bolder;
        }
        
        .zorunlu-sayac-content {
            font-size: .7vw;
            text-align: justify;
        }
        
        .zorunlu-sayac-img img {
            width: 13vw;
        }
        
        .why-use {
            height: 90vh;
            width: 71%;
            margin: 24vw auto 0vw auto;
        }
        
        .why-use-title {
            font-size: 1.6vw;
            font-weight: bold;
            background: -webkit-linear-gradient(left, #ff5f00, #f39507);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
        }
        
        .why-use-content {
            margin: 4vw 0vw;
        }
        
        .why-use-content ul {
            padding-left: 0px !important;
        }
        
        .why-use-content ul li span {
            margin: 0px 0px;
            font-size: .8vw;
        }
        
        .why-use-content ul li {
            margin-bottom: 10px;
            cursor: pointer;
        }
        
        .why-use-content ul li:hover span {
            color: #f55a03;
            font-weight: bold;
        }
        /*Collapse  */
        
        .collapse-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: rgb(49, 49, 49);
            font-size: .9vw;
        }
        
        .collapse-item {
            padding: .5vw 10px;
            border-top: 1px solid #e6e2df;
            border-bottom: 1px solid #e6e2df;
            cursor: pointer;
        }
        
        .collapse-item .collapse-content {
            display: none;
        }
        
        .collapse-item i {
            color: rgb(88, 88, 88);
        }
        
        .collapse-content {
            font-size: .8vw;
            margin: 10px 0px;
        }
        
        .collapse-item .fa-plus {
            display: block;
        }
        
        .collapse-item .fa-minus {
            display: none;
        }
        
        .active-collapse .collapse-content {
            display: block !important;
        }
        
        .active-collapse .fa-plus {
            display: block;
        }
        
        .active.active-collapse .fa-minus {
            display: block !important;
        }
        
        .tabs {
            position: absolute;
            top: 200px;
            left: 0px;
            opacity: 0;
            visibility: hidden;
            height: 60vh;
            overflow-y: scroll;
            transition: all .3s ease-in-out;
        }
        
        .tabs::-webkit-scrollbar {
            width: 7px;
        }
        
        .tabs::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        .tabs::-webkit-scrollbar-thumb {
            background: linear-gradient(180deg, #ff5e0083, #f39507);
            border-radius: 20px;
        }
        
        .tabs ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        
        .active-tab {
            opacity: 1;
            top: 0%;
            visibility: visible;
        }
        
        .active-tab-button {
            color: #f55a03;
            font-weight: bold;
        }
        
        .tab-button img {
            width: 2.3vw;
        }
        
        .tab-wrapper {
            position: relative;
            margin-left: 2vw;
            padding: 0vw 2vw;
            width: 90%;
            margin: 0px auto;
        }
        
        .why-us-property-title {
            background: -webkit-linear-gradient(left, #ff5f00, #f39507);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.3vw;
            font-weight: bold;
        }
        
        .why-us-property ul {
            padding-left: 2px;
            margin-top: 20px;
        }
        
        .why-us-property ul li {
            border: 1px solid rgba(0, 0, 0, 0.315);
            padding: 20px 30px;
            position: relative;
        }
        
        .why-us-property ul li::after {
            content: "\21E2";
            color: #ff5f00;
            position: absolute;
            left: -1.3vw;
            top: 50%;
            transform: translate(0%, -50%);
            font-size: 2vw;
        }
        
        .timeline {
            background-image: url(../img/timeline.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 81vh;
        }
        
        .timeline-content-wrapper {
            width: 57%;
            margin: 0px auto;
        }
        
        .timeline-title {
            text-align: center;
            color: #fff;
            padding-top: 4vw;
        }
        
        .timeline-title span {
            letter-spacing: 5px;
            font-size: .8vw;
            font-weight: lighter;
        }
        
        .timeline-title div {
            font-size: 2vw;
            margin-top: 1vw;
            font-weight: bold;
            background: -webkit-linear-gradient(left, #ff6000, #ef9001);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .timeline-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2vw;
            position: relative;
        }
        
        .timeline-item-img img {
            width: 7vw;
        }
        
        .timeline-content {
            text-align: center;
        }
        
        .timeline-content-title {
            font-size: .9vw;
            font-weight: bold;
            background: -webkit-linear-gradient(left, #ff3c00, #ef9001);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 1vw 0vw;
        }
        
        .timeline-description {
            font-size: .7vw;
            color: #fff;
            padding: 0px 20px;
            font-weight: 300;
        }
        
        .arrow {
            position: absolute;
            width: 10vw;
            top: 19%;
            right: -50%;
            transform: translate(-50%, -50%);
        }
        
        .timeline-project-count {
            margin: 5vw auto;
            width: 70%;
        }
        
        .first-count {
            background-image: url(../img/first-img.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 23vh;
            margin-right: 1vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0vw 6vw;
        }
        
        .second-count {
            background-image: url(../img/second-img.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 23vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0vw 6vw;
        }
        
        .first-count-title {
            font-size: 3vw;
            font-weight: bold;
            color: #fff;
            text-align: start;
        }
        
        .first-count-content {
            color: #fff;
            font-size: .8vw;
        }
        
        .contact {
            background-image: url(../img/contact-bg.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 94.9vh;
            margin-top: 13vw;
        }
        
        .contact-wrapper {
            width: 70%;
            padding: 8vw 2vw 2vw 2vw;
            margin: 0px auto;
            color: #fff;
        }
        
        .contact-title {
            font-size: 4.5vw;
            font-weight: bold;
            line-height: 1;
            animation: contactAnimation 15s ease-in-out infinite alternate-reverse forwards;
            position: relative;
            top: 0px;
            left: 0px;
        }
        
        @keyframes contactAnimation {
            0% {
                top: 0px;
                left: 0px;
                font-size: 4.5vw;
            }
            25% {
                top: 25px;
                left: 25px;
                font-size: 4.7vw;
            }
            50% {
                top: 0px;
                left: 0px;
                font-size: 4.5vw;
            }
            75% {
                left: 0px;
                top: 75px;
                font-size: 4.9vw;
            }
            100% {
                top: 0px;
                left: 0px;
                font-size: 4.5vw;
            }
        }
        
        .contact-title div {
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #fc9700;
            color: transparent;
        }
        
        .contact-title span {
            background: -webkit-linear-gradient(left, #ff6100, #f49200);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .contact-title-right {
            display: flex;
            align-items: center;
            margin-top: 1vw;
            font-weight: bold;
        }
        
        .contact-title-right div {
            font-size: 1.1vw;
            margin-right: 2vw;
            position: relative;
        }
        
        .contact-title-right div::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0px;
            background: linear-gradient( to right, #ff6100 40%, #f49200);
            height: 4px;
            width: 25%;
        }
        
        .contact-title-right span {
            font-size: .7vw;
            font-weight: 300;
        }
        
        .contact-form {
            margin-top: 4.5vw;
        }
        
        .contact-form input:focus::placeholder {
            background: -webkit-linear-gradient(left, #ff6100, #f49200);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .contact-form input:focus {
            border: 10px solid;
            border-image-slice: 1;
            border-width: 1px;
            border-image-source: linear-gradient(to left, #ff6100, #f49200);
            background: -webkit-linear-gradient(left, #ff6100, #f49200);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .input-group {
            display: flex;
            justify-content: space-between;
            margin: 1.2vw 0px;
        }
        
        .input-group input {
            width: 49%;
            border: none;
            outline: none;
            background: transparent;
            padding: .7vw 1vw;
            border: 1px solid rgba(255, 255, 255, 0.644);
            font-size: .8vw;
            color: #fff;
        }
        
        .input-group input::placeholder {
            color: #fff;
        }
        
        .message {
            border: none;
            outline: none;
            background: transparent;
            padding: .7vw 1vw;
            border: 1px solid rgba(255, 255, 255, 0.644);
            font-size: .7vw;
            color: #fff;
            width: 100%;
        }
        
        .message::placeholder {
            color: #fff;
        }
        
        .sozlesme {
            margin-top: 3vw;
            font-size: .7vw;
            width: 90%;
            color: rgba(255, 255, 255, 0.61);
        }
        
        .contact-button {
            background: -webkit-linear-gradient(left, #ff6100, #f49200);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border: 10px solid;
            border-image-slice: 1;
            border-width: 2px;
            border-image-source: linear-gradient(to right, #ff6100, #f49200);
            padding: .5vw 1.7vw;
            margin: 2vw 0vw;
            display: inline-block;
            font-size: .8vw;
            letter-spacing: 2px;
            font-weight: bold;
            position: relative;
            overflow: hidden;
        }
        
        .contact-button:hover::after {
            top: 0%;
        }
        
        .contact-button:hover::before {
            left: 0%;
        }
        
        .contact-button::after {
            content: "";
            position: absolute;
            padding: 0.7vw 2.5vw;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 0px;
            font-size: 0.9vw;
            background: linear-gradient(to right, #ff6100, #f49200);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease-in-out;
            z-index: 1;
        }
        
        .contact-button::before {
            content: "\f1d8";
            font-family: FontAwesome;
            position: absolute;
            padding: 0.7vw 2.5vw;
            width: 100%;
            height: 100%;
            top: 0%;
            left: -100%;
            font-size: 0.9vw;
            background: -webkit-linear-gradient(left, #ffffff, #ffffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease-in-out;
            z-index: 2;
        }
        
        .social-media {
            position: relative;
            margin: 3vw 0vw;
        }
        
        .social-media-title {
            font-size: 11vw;
            background: -webkit-linear-gradient(left, #ff6100, #f49200);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            text-align: center;
            margin-top: 6vw;
        }
        
        .bottom-bg {
            background-image: url(../img/bottom-bg.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 20vh;
        }
        
        .post-area {
            background-image: url(../img/transparent-bg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 28vh;
            position: absolute;
            top: 30%;
            left: 0%;
            width: 100%;
            z-index: 1;
        }
        
        .post-area img {
            width: 98%;
        }
        
        .post-area ul {
            display: flex;
            padding-left: 0px !important;
        }
        
        .social-media-links {
            background: #fff;
            width: 40%;
            height: 15vh;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translate(-50%, 0%);
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }
        
        .social-media-links {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0vw 2vw;
        }
        
        .social-media-links .row {
            justify-content: space-around !important;
        }
        
        .icon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1vw;
            font-size: .7vw;
            cursor: pointer;
        }
        
        .icon-wrapper i {
            font-size: 1.1vw;
        }
        
        .icon-wrapper:hover,
        .icon-wrapper:hover i {
            color: #ff6100;
        }
        
        .footer {
            height: 55vh;
            display: flex;
            align-items: center;
            width: 85%;
            margin: 0px auto;
        }
        
        .footer-midle-section {
            width: 75%;
            margin: 0px auto;
        }
        
        .slogan {
            font-size: 2vw;
            background: -webkit-linear-gradient(left, #fd6005, #f7c580);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .slogan span {
            font-weight: bold;
        }
        
        .footer-nav ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding-left: 0px;
            margin-top: 2vw;
        }
        
        .footer-nav ul li a {
            color: #0c2455;
            font-size: .7vw;
            font-weight: bold;
        }
        
        .address {
            position: relative;
            top: -2vw;
        }
        
        .address ul li {
            text-align: end;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            margin: 10px 0vw;
            font-size: .8vw;
            background: -webkit-linear-gradient(left, #0f1b2c, #4d77a9);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            letter-spacing: 2px;
        }
        
        .address ul li a {
            background: -webkit-linear-gradient(right, #0f1b2c, #4d77a9);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 2px;
        }
        
        @media only screen and (max-width: 992px) {
            .width {
                width: 100% !important;
            }
            .navigation-wrapper {
                padding: 5vw 9vw !important;
                background: rgb(255, 255, 255);
                position: fixed !important;
            }
            .logo img {
                width: 15vw !important;
            }
            .top-menu ul {
                display: flex;
                flex-direction: column !important;
            }
            .top-menu ul li a {
                padding: 0.5vw 1.2vw;
                color: black;
                text-decoration: none;
                font-size: 20px;
                margin: 2vw 0vw !important;
                display: inline-block;
            }
            .bottom-menu {
                width: 100% !important;
                text-align: end;
                margin: 1vw 0px;
                margin-left: auto;
                display: flex;
                flex-direction: column !important;
                justify-content: space-between !important;
                align-items: flex-start !important;
                padding: 0px 8vw !important;
            }
            .bottom-menubuttons {
                display: flex;
                flex-direction: row !important;
                margin-top: 30px;
            }
            .bottom-menu-icons {
                display: flex;
                flex-direction: row !important;
                align-items: flex-start !important;
                align-items: center !important;
            }
            .bottom-menu-icons a,
            i {
                font-size: 20px !important;
                margin: 0px 5px;
            }
            .login-button {
                padding: 9px 20px !important;
                margin: 10px 10px !important;
                font-size: 15px !important;
            }
            .select-wrapper {
                margin: 10px 0px;
                padding: 20px 18px !important;
            }
            #language {
                font-size: 15px !important;
            }
            #language option {
                color: black;
                width: 100% !important;
                border: none;
                font-size: 15px;
            }
            .navigation {
                position: absolute;
                right: -100%;
                height: 110vh;
                top: 0px;
                width: 100%;
                background: rgb(255, 255, 255);
                z-index: 1213213;
                display: flex;
                flex-direction: column;
                justify-content: start;
                padding-top: 10vw;
                transition: all .3s ease-in-out;
            }
            .fa-bars {
                display: block !important;
                font-size: 20px !important;
                cursor: pointer;
                color: rgb(56, 56, 56);
            }
            body {
                overflow-x: hidden;
            }
            .active::after {
                width: 100% !important;
            }
            .fa-times {
                display: block !important;
                position: absolute;
                top: 40px;
                right: 40px;
                font-size: 30px !important;
                color: rgb(46, 46, 46);
            }
            .panel {
                height: 90vh !important;
                flex: 1;
            }
            .horizontal-content {
                top: 45% !important;
                width: 90% !important;
                margin-left: 2vw !important;
            }
            .horizontal-content-title {
                font-size: 15px !important;
                font-weight: bold;
            }
            .horizontal-slogan {
                font-size: 10px !important;
                width: 100% !important;
                margin: 2.5vw 0vw !important;
            }
            .horizontal-descripton span {
                font-size: 10px !important;
                margin: 1.5vw 0vw !important;
            }
            .horizontal-descripton ul {
                list-style-type: "*";
                list-style-position: outside;
                padding-left: 0px !important;
            }
            .horizontal-descripton ul li {
                padding: 0vw 10px;
                font-size: 8px !important;
            }
            .vertical-contant {
                bottom: 6vw !important;
                font-size: 13px !important;
            }
            .vertical-contant img {
                width: 18px !important;
            }
            .genel-ozellikler-item-1,
            .genel-ozellikler-item-2,
            .genel-ozellikler-item-3 {
                align-items: center !important;
                padding: 42px 20px !important;
                height: fit-content !important;
            }
            .genel-ozellikler img {
                width: 25% !important;
            }
            .genel-ozellikler-tite {
                font-size: 18px !important;
                text-align: center !important;
            }
            .horizontal-line {
                display: none !important;
            }
            .genel-ozellikler-content {
                font-size: 12px !important;
            }
            .genel-ozellikler-button {
                padding: 10px !important;
                font-size: 15px !important;
                width: 100% !important;
                text-align: center !important;
            }
            .genel-ozellikler-button::before {
                font-size: 18px !important;
            }
            .ozellikler-title {
                font-size: 22px !important;
                justify-content: center !important;
                align-items: center !important;
                margin: 41px 0px;
            }
            .ozellikler {
                width: 100% !important;
                margin: 20px auto;
            }
            .ozellik-button {
                padding: 3.7vw 9vw !important;
                font-size: 17px !important;
                margin: 27px 0px !important;
            }
            .ozellik-button::before {
                font-size: 15px !important;
            }
            .ozellik-item-title {
                font-size: 20px !important;
            }
            .ozellik-item {
                font-size: 14px !important;
                padding: 20px;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                height: 45vh !important;
            }
            .sayac-img {
                text-align: center !important;
            }
            .swiper {
                width: 99% !important;
                height: 65vh !important;
                margin: 20px auto !important;
                position: relative;
            }
            .sayac-okuma {
                height: fit-content !important;
            }
            .sayac-title {
                font-size: 22px !important;
            }
            .sayac-wrapper {
                width: 90% !important;
                margin: 171px auto !important;
                position: relative;
                top: -30vw !important;
            }
            .sayac-img img {
                width: 51vw !important;
            }
            .sayac-content {
                font-size: 14px !important;
                text-align: start;
                margin: 20px 0vw !important;
            }
            .swiper-pagination-bullet {
                width: 10px !important;
                height: 10px !important;
            }
            .zorunlu-sayac-img img {
                width: 50vw !important;
                /* margin: auto; */
            }
            .zorunlu-sayac-img {
                text-align: center !important;
            }
            .zorunlu-sayac-title {
                font-size: 22px !important;
                margin: 25vh 0px 20px 0px!important;
                text-align: center;
            }
            .zorunlu-sayac-content {
                font-size: 13px !important;
                text-align: justify;
            }
            .why-use {
                height: fit-content;
                width: 90%;
                margin: 173vw auto 0vw auto !important;
                padding: 0px 8vw;
            }
            .input-group input {
                font-size: .9vw !important;
                font-weight: bold !important;
            }
            .message {
                font-size: .9vw !important;
                font-weight: bold !important;
            }
            .why-use-title {
                font-size: 28px !important;
                text-align: left !important;
            }
            .tab-button img {
                width: 13vw !important;
            }
            .why-use-content ul li {
                margin-bottom: 20px !important;
                cursor: pointer;
                display: flex !important;
                align-items: center !important;
                justify-content: flex-start;
            }
            .why-use-content ul li span {
                font-size: 18px !important;
                margin-left: 30px;
            }
            .timeline {
                margin-top: 150vw !important;
                height: fit-content !important;
            }
            .collapse-title {
                font-size: 14px !important;
            }
            .collapse-content {
                font-size: 10px !important;
                margin: 10px 0px;
            }
            .why-us-property-title {
                font-size: 30px !important;
            }
            .bottom-menu-icons a,
            i {
                font-size: 13px !important;
                margin: 20px 10px;
            }
            .why-us-property ul li {
                padding: 0px 7px !important;
            }
            .why-use-content ul li {
                margin-bottom: 5px !important;
                width: 100%;
            }
            .why-us-property ul li::after {
                content: "\21E2";
                color: #ff5f00;
                position: absolute;
                left: -11.3vw;
                top: 50%;
                transform: translate(0%, -50%);
                font-size: 40px !important;
            }
            .timeline-title span {
                letter-spacing: 5px;
                font-size: 15px !important;
                font-weight: lighter;
            }
            .timeline-title div {
                font-size: 36px !important;
            }
            .arrow {
                display: none;
            }
            .timeline-item-img img {
                width: 44vw !important;
            }
            .timeline-content-title {
                font-size: 25px !important;
            }
            .timeline-description {
                font-size: 13px !important;
            }
            .timeline-content-wrapper {
                width: 100% !important;
            }
            .first-count-title {
                font-size: 40px !important;
            }
            .first-count-content {
                font-size: 10px !important;
            }
            .first-count {
                background-image: url(../img/first-img.jpg);
                height: 29vh;
                margin-right: 1vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 0vw 6vw;
                margin: 30px 0px !important;
            }
            .contact {
                height: fit-content;
            }
            .timeline-project-count {
                width: 100% !important;
            }
            .contact-title {
                font-size: 50px !important;
                animation: none;
            }
            .contact-wrapper {
                width: 95% !important;
            }
            .contact-title-right div {
                font-size: 16px !important;
                position: relative;
                margin: 10px 10px 10px 0px;
            }
            .contact-title-right span {
                font-size: 9px !important;
            }
            .input-group input {
                width: 100% !important;
                padding: 10px 20px !important;
                font-size: 12px !important;
                margin: 10px 0px !important;
            }
            .message {
                padding: 10px 20px !important;
                border: 1px solid rgba(255, 255, 255, 0.644);
                font-size: 12px !important;
                color: #fff;
                width: 100%;
                margin: 10px 0px;
            }
            .sozlesme {
                font-size: 10px !important;
                width: 100% !important;
            }
            .contact-button {
                padding: 6px 40px !important;
                margin: 5vw 0vw !important;
                font-size: 15px !important;
            }
            .social-media-title {
                font-size: 62px !important;
                margin-top: 11vw !important;
            }
            .post-area {
                background: transparent !important;
                height: fit-content;
                margin-top: 86px !important;
            }
            .bottom-bg {
                background: transparent !important;
                height: fit-content !important;
            }
            .footer {
                width: 100% !important;
                margin-top: 180vw !important;
                height: fit-content !important;
            }
            .social-media-links {
                padding: 0vw 3vw !important;
                top: 108px !important;
            }
            .social-media-links {
                background: #fff;
                width: 100% !important;
                height: 15vh;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translate(-50%, 0%);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0px;
            }
            .icon-wrapper i {
                font-size: 1.1vw;
                font-size: 20px !important;
            }
            .icon-wrapper {
                margin-top: 1vw;
                font-size: 12px !important;
                flex-direction: column !important;
            }
            .post-area .col-md-2,
            .footer .col-md-2 {
                width: 50% !important;
                margin: 0px auto;
            }
            .social-media-links {
                display: none;
            }
            .footer-midle-section {
                width: 100% !important;
                margin: 0px auto;
            }
            .slogan {
                font-size: 23px;
                margin: 20px 0px;
                text-align: start;
                padding: 0px 37px;
            }
            .footer-nav ul {
                flex-direction: column;
                justify-content: flex-start !important;
            }
            .footer-nav ul li {
                margin: 7px 43px;
            }
            .footer-nav ul li a {
                font-size: 15px !important;
            }
            .address ul {
                padding-left: 0px !important;
            }
            .address ul li {
                margin: 10px 0vw;
                font-size: 15px;
                padding: 0px 40px;
                justify-content: start;
                text-align: start;
            }
            .footer-logo {
                display: none;
            }
            .second-count {
                height: 26vh !important;
            }
            .address ul li span {
                display: none;
            }
            .contact-button::before {
                font-size: 20px !important;
            }
            .footer-nav {
                text-align: left;
                margin-left: 52px;
            }
            .footer-nav ul li {
                margin: 5px 0px !important;
            }
            .input-group {
                display: flex;
                justify-content: space-between;
                margin: 0 !important;
            }
            .animate__animated {
                animation: none !important;
            }
            .footer-nav .row {
                width: 100%;
                justify-content: space-between;
                text-align: start !important;
            }
            .tab-wrapper {
                width: 100% !important;
                margin: 18px auto !important;
            }
        }
        
        @media only screen and (max-width: 768px) {}
        
        .fa-bars {
            display: none;
        }
        
        @media only screen and (min-width: 993px) {
            .scroll-nav {
                transition: all .3s ease-in-out;
                background: linear-gradient(to right, #ffffff, #e0e0e0);
                padding: .5vw 6vw !important;
                position: fixed;
                top: 0px;
                height: 10vh;
            }
            .scroll-nav::after {
                content: "";
                width: 100%;
                height: 2px;
                background-image: linear-gradient(to right, #fd6005, #f7c580);
                position: absolute;
                bottom: 0px;
                left: 0px;
            }
            .scroll-nav img {
                width: 3vw;
            }
            .scroll-nav .bottom-menu {
                display: none;
            }
        }
        
        .fa-bars {
            display: none;
        }
        
        .fa-times {
            display: none;
        }
        
        .footer-logo img {
            width: 8vw;
        }
        
        .footer-nav .row {
            width: 100%;
            justify-content: space-between;
            text-align: center;
        }